@font-face {
  font-family: "iconfont"; /* Project id 1994852 */
  src: url('iconfont.woff2?t=1738643754843') format('woff2');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 24px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icongame:before {
  content: "\e635";
}

.iconrss:before {
  content: "\e602";
}

.iconcarema:before {
  content: "\e6ce";
}

.icondownload:before {
  content: "\e6f2";
}

.iconradio_device:before {
  content: "\e622";
}

.iconMinecraft:before {
  content: "\ec71";
}

.iconaboutme:before {
  content: "\e63e";
}

.iconcode:before {
  content: "\e7fc";
}

.icongithub:before {
  content: "\e885";
}

.iconQQ:before {
  content: "\e887";
}

.iconzhihu:before {
  content: "\e88b";
}

.iconwechat:before {
  content: "\e600";
}

.iconbili:before {
  content: "\e75c";
}

.icondonate:before {
  content: "\ea1d";
}

.icontelegram:before {
  content: "\ec25";
}

.iconlink:before {
  content: "\e83d";
}

.iconemail:before {
  content: "\e856";
}

.iconblog:before {
  content: "\e601";
}

.iconradio:before {
  content: "\e61b";
}